@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section__container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background: var(--color-6);
}
.header__top {
}
.div__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.div__head img{
    height: 20px;
}
.div__head h1{
    font-family: "Montserrat-Bold";
    font-size: 17px;
    color: var(--color-3);
    flex-wrap: nowrap;
}
.div__profile {
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 80px;
}
.div__profile img{
    border-radius: 50%;
    width: 10svw;
    padding-bottom: 10px;
}
.div__profile strong{
    font-family: "Montserrat-Bold";
    font-size: 17px;
    color: var(--color-3);
}
.div__profile span{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-1);
}
.article__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.div__section:nth-child(1){
    background: var(--color-1);
    border-radius: 4px;
    width: 15svw;
    height: 6svh;

}
.div__section:nth-child(2){
    padding-left: 5px;
}
.div__section:nth-child(3){
    padding-left: 10px;
}
.div__section:nth-child(4){
    padding-left: 20px;
}

.div__section img :nth-child(1){
    width: 3svw;
}
.div__section img :nth-child(2){
    width: 3svw;
}
.div__section img :nth-child(3){
    width: 3svw;
}
.div__section img :nth-child(4){
    width: 3svw;
}
.div__section img :nth-child(5){
    width: 3svw;
}
.div__section img :nth-child(6){
    width: 3svw;
}

.div__section a{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-3);
    text-decoration: none;
}
.div__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 148px;
}
.div__bottom img{

}
.div__bottom a{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-3);
    text-decoration: none;
}
