@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}
.section__container {
    width: 30%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background: var(--color-6);
}
.header__top {
}
.div__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.div__head img{
    height: 20px;
}
.div__head h1{
    font-family: "Montserrat-Bold";
    font-size: 17px;
    color: var(--color-3);
    flex-wrap: nowrap;
}
.div__profile {
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 80px;
}
.div__profile img{
    border-radius: 50%;
    width: 10svw;
    padding-bottom: 10px;
}
.div__profile strong{
    font-family: "Montserrat-Bold";
    font-size: 17px;
    color: var(--color-3);
}
.div__profile span{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-1);
}
.article__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.div__section:nth-child(1){
    
}
.div__section:nth-child(2){
    padding-left: 5px;
}
.div__section:nth-child(3){
    padding-left: 10px;
    background: var(--color-1);
    border-radius: 4px;
    width: 15svw;
    height: 6svh;
}
.div__section:nth-child(4){
    padding-left: 20px;
}

.div__section img :nth-child(1){
    width: 3svw;
}
.div__section img :nth-child(2){
    width: 3svw;
}
.div__section img :nth-child(3){
    width: 3svw;
}
.div__section img :nth-child(4){
    width: 3svw;
}
.div__section img :nth-child(5){
    width: 3svw;
}
.div__section img :nth-child(6){
    width: 3svw;
}

.div__section a{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-3);
    text-decoration: none;
}
.div__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 148px;
}
.div__bottom img{

}
.div__bottom a{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-3);
    text-decoration: none;
}
/********************Sección lista de estudiantes **************************/

.section__topics {
    
}
.article__top {
    display: flex;
    align-items: center;
    padding: 21px;
}

.div__search{
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--color-10);
    width: 13svw;
    height: 4svh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60svw;
    margin-right: 2svw;
}
input:focus {
    outline: none;
}
.div__search input{
    border: none;
    width: auto;
}
.div__search input::placeholder{
    font-family:  "Montserrat-Regular";
    font-size: 14px;
    color: var(--color-11);
}
/********** Dialog *****************/
dialog{
    background: var(--color-6);
    width: 30svw;
    height: 35vh;
    border-radius: 10px;
    border: none;
    box-shadow: var(--color-11) 3px 3px 20px ;
}
.dialog__header{
   padding: 10px;
   display: flex;
   justify-content: flex-end !important; 
}

.dialog__header span{
    font-family: "Montserrat-Medium";
    font-size: 12px;
    color: var(--color-5);
    background: var(--color-1);

}
.dialog__header span:hover {
    background-color: var(--color-4);
}
.dialog__main{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        border: none;
    }
}
.form__student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    input{
        height: 3vh;
        padding: 5px;
    }
}
.form__edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    input{
        height: 3vh;
        padding: 5px;
    }
}
.form__edit label {
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    color: var(--color-3);
    text-align: left;
}
.form__student label{
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    color: var(--color-3);
    text-align: left;
}
.div__form{
    display: flex;
    gap: 10px;
}
.div__form-id{
    display: none;
}
.dialog__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    

    input{
    width: 8svw;
    height: 4svh;
    background-color: var(--color-1);
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-5);
    }
    input:hover {
        background-color: var(--color-4);
    }
}

/*************** Tabla de esdudiantes *****************/

.div__container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    background: var(--color-12);
}
.div__header{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.div__header h2 {
    font-family: "Montserrat-Bold";
    font-size: 22px;
    color: var(--color-3);
}
.button__add {
    width: 15svw;
    height: 6svh;
    background-color: var(--color-1);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__add:hover {
    background-color: var(--color-4);
}
.div__header img{
    margin-left: 45svw;

}
#dialog__add_student, #dialog__student_edit{
    margin: auto;
}
.dialog__header{
    display: flex;
    justify-content: flex-end;
}
.dialog__header > span{
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    /* border: 1px solid #000; */
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color:var(--color-10);
}
th, td {
    border-bottom: 10px solid var(--color-12);
    padding: 10px;
    text-align: center;
}
th {
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    color: var(--color-13);
}
.td__actions {
    display: flex;
    gap: 10px;
}
.span__edit, .span__delete {
    cursor: pointer;
}

.tbody__main{
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: var(--color-3);
    background: var(--color-5);
    img{
        border-radius: 10px;
        width: 5svw;
    }
}
/********************* Dialog Edit **********************/
.dialog__header {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*******************/
