<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../js/dashboard.js" defer type="module"></script>
</head>
<body>
    <main>
    <section class="section__container">
        <header class="header__top">
            <div class="div__head">
                <img src="../storage/img/Line 1.svg">
                <h1>CRUD OPERATIONS</h1>
            </div>
            <div class="div__profile">
                <img src="../storage/img/pexels-photo-2379004 1.svg">
                <strong>Karthi Madesh</strong>
                <span>Admin</span>
            </div>
        </header>
        <article class="article__container">
            <div class="div__section">
                <img src="../storage/img/home-lg-alt 1.svg">
                <a href="#">Home</a>
            </div>
            <div class="div__section">
                <img src="../storage/img/bookmark 1.svg">
                <a href="#">Course</a>
            </div>
            <div class="div__section">
                <img src="../storage/img/graduation-cap 1.svg">
                <a href="#">Students</a>
            </div>
            <div class="div__section">
                <img src="../storage/img/usd-square 1.svg">
                <a href="#">Payments</a>
            </div>
            <div class="div__section">
                <img src="../storage/img/file-chart-line 1.svg">
                <a href="#">Report</a>
            </div>
            <div class="div__section">
                <img src="../storage/img/sliders-v-square 1.svg">
                <a href="#">Settings</a>
            </div>
        </article>
        <div class="div__bottom">
            <a href="#">Logout</a>
            <img src="../storage/img/sign-out-alt 1.svg">
        </div>
    </section>
    <section class="section__topics">
        <article class="article__top">
            <a href="#"><img src="../storage/img/caret-circle-down 1.svg"></a>
            <div class="div__search">
                <input type="text" placeholder="Search..."><a href="#"><img src="../storage/img/search 1.svg"></a>
            </div>
            <a href="#"><img src="../storage/img/bell 1.svg"></a>
        </article>
        <article class="article__item">
            <div class="div__students" id="students">
                <div class="div__box-estudent">
                    <img src="../storage/img/graduation-cap 1 (1).svg">
                    <span>Students</span>
                </div>
                <strong>243</strong>
            </div>
            <div class="div__course" id="course">
                <div class="div__box">
                    <img src="../storage/img/bookmark 1 (1).svg">
                    <span>course</span>
                </div>
                <strong>13</strong>
            </div>
            <div class="div__payments" id="payments">
                <div class="div__box">
                    <img src="../storage/img/usd-square 1 (1).svg">
                    <span>Payments</span>
                </div>
                <strong data-format="$">556,000</strong>
            </div>
            <div class="div__users" id="users">
                <div class="div__box-users">
                    <img src="../storage/img/Vector (2).svg">
                    <span>Users</span>
                </div>
                <strong>3</strong>
            </div>
        </article>
    </section>
</main>
</body>
</html>