<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="../css/payment.css">
</head>
<body>
    <main>
        <section class="section__container">
            <header class="header__top">
                <div class="div__head">
                    <img src="#">
                    <h1>CRUD OPERATIONS</h1>
                </div>
                <div class="div__profile">
                    <img src="#">
                    <strong>Karthi Madesh</strong>
                    <span>Admin</span>
                </div>
            </header>
            <article class="article__container">
                <div class="div__section">
                    <img src="#">
                    <a href="#">Home</a>
                </div>
                <div class="div__section">
                    <img src="#">
                    <a href="#">Course</a>
                </div>
                <div class="div__section">
                    <img src="#">
                    <a href="#">Students</a>
                </div>
                <div class="div__section">
                    <img src="#">
                    <a href="#">Payments</a>
                </div>
                <div class="div__section">
                    <img src="#">
                    <a href="#">Report</a>
                </div>
                <div class="div__section">
                    <img src="#">
                    <a href="#">Settings</a>
                </div>
            </article>
            <div class="div__bottom">
                <a href="#">Logout</a>
                <img src="#">
            </div>
        </section>
        <section class="section__topics">
            <article class="article__top">
                <a href="#"><img src="#"></a>
                <div class="div__search">
                    <input type="text" placeholder="Search..."><a href="#"><img src="../storage/img/search 1.svg"></a>
                </div>
                <a href="#"><img src="#"></a>
            </article>
            <div class="div__container">
                <div class="div__header">
                    <h2>Payment Details</h2>
                    <img src="#">
                    <button id="add__student" class="button__add">ADD NEW STUDENT</button>
                </div>
                <dialog id="dialog__add_student">
                    <div class="dialog__header">
                        <span id="dialog_close">X</span>
                    </div>
                    <div class="dialog__main">
                        <form id="form__student" action="?" method="post">
                        <div>
                            <label>Name</label>
                            <input type="text" pattern="[A-Za-zÑñÁáÉéÍíÓóÚúÜü ]+">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="emaiñ" name="email">
                        </div>
                        <div>
                            <label>Phone</label>
                            <input type="number" max="10" pattern="[0-9]" name="phone">
                        </div>
                        <div>
                            <label>Enroll Number</label>
                            <input type="number" name="enroll__number">
                        </div>
                    </form>
                </div>
                <div class="dialog__footer">
                    <input type="submit" form="form__student" value="Guardar">
                </div>
                </dialog>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Payment Schedule</th>
                            <th>Bill Number</th>
                            <th>Amount Paid</th>
                            <th>Balance amount</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table__student">
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>