<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../css/student.css">
</head>
<body>
    <section class="section__container">
        <header class="header__top">
            <div class="div__head">
                <img src="../storage/img/Line 1.svg">
                <h1>CRUD OPERATIONS</h1>
            </div>
            <div class="div__profile">
                <img src="#">
                <strong>Karthi Madesh</strong>
                <span>Admin</span>
            </div>
        </header>
        <article class="article__container">
            <div class="div__section">
                <img src="#">
                <a href="#">Home</a>
            </div>
            <div class="div__section">
                <img src="#">
                <a href="#">Course</a>
            </div>
            <div class="div__section">
                <img src="#">
                <a href="#">Students</a>
            </div>
            <div class="div__section">
                <img src="#">
                <a href="#">Payments</a>
            </div>
            <div class="div__section">
                <img src="#">
                <a href="#">Report</a>
            </div>
            <div class="div__section">
                <img src="#">
                <a href="#">Settings</a>
            </div>
        </article>
        <div class="div__bottom">
            <a href="#">Logout</a>
            <img src="#">
        </div>
    </section>
    <section>
        <h1>Students List</h1>
        <label for="Agregar">ADD NEW STUDENT</label>
    </section>
</body>
</html>